.o_content#createedit
    .o_view_manager_content
        .o_form_view.o_form_editable
            .o_form_sheet_bg
                .o_form_sheet
                    slot(name='depbutton')
                    slot(name='dep')